  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #app, .container {
    display: flex;
    flex-flow: column nowrap;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
  }

  /*.headerWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .header {
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    font-weight: lighter;
  }*/

  .appContainer {
    display: flex;
    flex-flow:row nowrap;
    height: inherit;
    width: inherit;
    margin-top: 1rem;
  }

  .navbarContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: inherit;
    height: 3.5rem;
    background-color: #FFBF84;
  }

  .logoWrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }

  .logo {
    font-family: "Arial";
    padding: 1rem;
    letter-spacing: .25rem;
    font-size: 1rem;
  }

  .check {
    color: pink;
  }

  .navbarWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .navbarLeft {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style-type: none;
  }

  .nav a {
    font-family: Helvetica, sans-serif;
    letter-spacing: .08rem;
    text-decoration: none;
    padding: 1rem;
  }

  .sidebarContainer {
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
    width: 19rem;
  }

  .quicklinksContainer {
    display: flex;
    flex-flow:column nowrap;
    width: inherit;
  }

  .sidebarHeaderWrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    height: 3rem;
  }

  .sidebarHeader {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #a6a6a6;
    letter-spacing: .05rem;
    width: 100%;
    font-weight: lighter;
  }

  .sidebarBorder {
    background-color: #F8F3EF;
    width: .2rem;
  }

  .category {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    cursor: pointer;
    min-height: 3.5rem;
    max-height: auto;
    width: inherit;
    padding-left: 1.5rem;
    line-height: 2.5rem;
    font-weight: lighter;
  }

  .category:hover {
    background-color: #F8F3EF;
  }

  .sectionContainer {
    display: flex;
    flex-flow: column nowrap;
    font-family: Helvetica, sans-serif;
    letter-spacing: .05rem;
    position: relative;
  }

  .section {
    cursor: pointer;
  }

  .bookmarksContainer {
    display: flex;
    flex-flow:column nowrap;
    width: inherit;
  }

  .add {
    display: flex;
    padding-right: .8rem;
    font-size: 1.5rem;
    color: gray;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    visibility: hidden;
  }


  .formContainer {
    /*visibility: hidden;*/
    display: flex;
    flex-flow: column nowrap;
    width: 35rem;
    margin: 1rem;
  }

  .formInputs {
    height: 4rem;
    width: 30rem;
    box-sizing: border-box;
    border-radius: .3rem;
    padding: .8rem;
    border: 1px solid lightgray;
    font-size: 1.3rem;
    font-weight: lighter;
  }






  a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .subjectContainer {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    position: relative;
  }

  .subject {
    color: black;
    outline: none;
    height: 3rem;
    text-decoration: none;
  }







/*  .subjectContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
  }

  .subjectsLabel {
    display: flex;
    margin: 3px;
  }

  .subjectsSelect {
    display: flex;
    margin: 3px;
  }
  .subject {
    font-family: Arial;
    padding: 5px 15px;
    cursor: pointer;
  }

  .subject:hover{
    background-color: #e6e600;
  }*/

/*
  .popup {
    font-size: 45px;
    float: left;
    margin-top: 10px;
  }

  .openPopup {
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: #5f636b;
  }
  .popupContainer {
    position: fixed;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .popupContainer:target {
    visibility: visible;
    opacity: 1;
  }

  .popupWrapper {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px;
    height: 600px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .closePopup {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  @media screen and (max-width: 700px){
  .header{
    width: 70%;
  }
  .popupWrapper{
    width: 70%;
  }
}

  .slogan {
    text-align: center;
  }
*/
























