  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #app {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
  }

  #container {
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-columns: 100%;
    height: 100%;
  }

  .appContainer {
    display: grid;
    grid-template-columns: 16rem .2rem auto;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
  }

  .navbarContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 4rem;
    /*background-image: linear-gradient(to left top, #bcd8eb, #add3e8, #9ecfe3, #8dcade, #7cc6d7, #6ebfd0, #60b7c8, #51b0c1, #43a4b9, #3498b0, #258da8, #10819f);*/
    background-color: #000;
  }

  .logo {
    font-family: "Arial";
    padding: 1rem;
    letter-spacing: .25rem;
    font-size: 1rem;
    color: #fff;
  }

  .check {
    color: pink;
  }

  .navbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .navbar > li > a {
    font-family: Helvetica, sans-serif;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: .08rem;
    padding: 1rem;
  }

  .sidebarContainer {
    display: grid;
    grid-template-rows: 8.5rem auto;
    grid-gap: .5rem;
    margin-top: .5rem;
  }

  .quicklinksContainer, .bookmarksContainer {
    display: grid;
    grid-template-rows: 1.5rem auto;
  }

  .sidebarHeaderWrapper {
    /*margin-left: 1.5rem;
    margin-right: 1.5rem;*/
    text-align: center;
  }

  .sidebarHeader {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #a6a6a6;
    letter-spacing: .05rem;
    font-weight: lighter;
  }

  .sidebarBorder {
    background-color: #F8F3EF;
    width: .2rem;
  }

  .sectionContainer {
    margin: 0;
    padding: 0;
  }

  .sectionWrapper{
    display: grid;
    grid-template-rows: auto;
    font-family: Helvetica, sans-serif;
    letter-spacing: .05rem;

  }

  .categoryContainer {


  }

  .categoryWrapper {

  }

  .fa-chevron-down {
    color: lightgray;
    margin-right: 4px;
    visibility: hidden;
    pointer-events: none;
  }

  .quicklinks:hover, .bookmarks:hover {
    background-color: #F8F3EF;
  }

 .bookmarks:hover > .fa-chevron-down {
    visibility: visible;
  }

  .quicklinks:hover > .fa-chevron-down {
    visibility: visible;
  }


  .quicklinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding-left: 0.5rem;
    cursor: pointer;
    font-weight: lighter;
    font-size: .9rem;
  }

  .bookmarks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: 1.5rem;
    cursor: pointer;
  }



  .markIcon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .linkIcon {
    font-size: .7rem;
    padding: .5rem;
  }

  .fa-heart {
    color: red;
  }

  .fa-star {
    color: #bd5b0d;
  }

  .icon {
    padding: 5px;
  }


  .dropdownContainer {
    margin: 0 auto;
    width: auto;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }



  .subjectContainer {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    margin: 0;
  }

  .subjectWrapper {

  }

  .subject {
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
    height: 3rem;
    list-style: none;
    letter-spacing: .05rem;
    cursor: pointer;
    width: inherit;
    padding-left: 1rem;
  }
  .subject:hover {
    font-size: 1.2rem;
  }

  .titlesContainer {

  }

  .title {
    font-family: Helvetica, sans-serif;
    height: 3rem;
    list-style: none;
    cursor: pointer;
    font-size: 0.9rem;

  }

  .add {
    padding-right: .8rem;
    font-size: 1.5rem;
    color: gray;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    visibility: hidden;
  }

  .formContainer {
    visibility: hidden;
    width: 35rem;
    margin: 1rem;
  }

  .formInputs {
    height: 4rem;
    width: 30rem;
    box-sizing: border-box;
    border-radius: .3rem;
    padding: .8rem;
    border: 1px solid lightgray;
    font-size: 1.3rem;
    font-weight: lighter;
  }




/*
  .popup {
    font-size: 45px;
    float: left;
    margin-top: 10px;
  }

  .openPopup {
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: #5f636b;
  }
  .popupContainer {
    position: fixed;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .popupContainer:target {
    visibility: visible;
    opacity: 1;
  }

  .popupWrapper {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px;
    height: 600px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .closePopup {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  @media screen and (max-width: 700px){
  .header{
    width: 70%;
  }
  .popupWrapper{
    width: 70%;
  }
}

  .slogan {
    text-align: center;
  }
*/
























