  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  #app {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
  }

  #container {
    display: grid;
    grid-template-rows: 5rem 45rem auto auto;
    grid-template-columns: 100%;
    grid-row-gap: 0px;
    height: 100%;
    /*background-color: #F2F2D2;*/
    min-width: 800px;
    margin:0;
    padding:0;
     background-color: #F9FAFC;
  }

  #app-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    height: 100%;
    width: auto;
    margin:0;
    visibility: visible;
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px dotted lightgray;
  }

  .logo-wrapper {
    display: flex;
    flex: 2;
    width: 10rem;
    align-items: center;
  }

  @font-face {
    font-family: 'Just-For-Fun';
    src: url('JustForFun-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .name {
    font-family: 'Just-For-Fun';
    letter-spacing: .25rem;
    font-size: 1.85rem;
    padding-left: 1rem;
    padding-right: .5rem;
    font-weight: 300;
  }

  .fa-bookmark {
    margin-top: 5px;
    width: 20px;
    height: 25px;
    color: #92E529;
  }

  .searchbar-container {
    position: relative;
  }

  .searchbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 15rem;
    height: 2.5rem;
    border-radius: 20px;
  }

  .searchbar > form {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    border-radius: 5px;
    width: 15rem;
    height: 2rem;
  }

  .search-form input {
    padding: 5px;
    font-weight: lighter;
    border: none;
    font-size: .95rem;
    width: 13rem;
  }

  .searchbar >form > input:focus {
    outline: none;
  }

  .search-icon {
    padding: 2px;
    color: #E58129;
  }

  .searchbar-content {
    position: absolute;
    width: 15rem;
  }

  .searchbar-content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: inherit;
  }

  .search-result {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px dotted lightgray;
    background-color: #fff;
    z-index: 3;
  }

  .serach-result li < .results-wrapper {
    margin-top: 1rem;
    min-height: 2rem;
    padding: 0;
    border-top: 1px dotted lightgray;
    box-shadow: 0 0 10px #E2E2E2;
  }
  .search-result a {
    display: flex;
    align-items: center;
    padding: .7rem;
    height: 100%;
    width: 100%;
  }

  .search-result a:hover {
    background-color: #F1F1F1;
  }

  .icons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
  }

  .plus-icon {
    margin-right: .7rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #9356E6;
  }

  .edit-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #75D4E5;
  }

  .plus-icon:hover, .edit-icon:hover {
    font-size: 1.7rem;
  }

  #form-wrapper {
    display: block;
    position: absolute;
    width: 22rem;
    margin: 1rem;
    z-index: 2;
    top: 5rem;
    right: 3.1rem;
    float: right;
  }

  .form {
    position: relative;
  }

  .form-inputs {
    height: 3rem;
    width: 22rem;
    box-sizing: border-box;
    padding: .8rem;
    border: 1px solid lightgray;
    font-size: 1.3rem;
    font-weight: lighter;
    background-color: #fff;
  }

  .form-inputs:focus {
    outline: none;
  }

    #edit-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  .edit-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 45rem;
    height: 24rem;
    background-color: #fff;
    border-radius: 5px;
  }

  .edit-main .edit-wrapper:last-child {
    border: none;
  }

  .edit-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    background-color: #fff;
    border-right: 1px dotted lightgray;
    width: 100%;
    padding: 1.5rem 0rem;
  }

  .edit-wrapper ul {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

  .edit-wrapper > ul > li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .edit-wrapper > ul > li:hover {
    background-color: #F3F3F3;
  }

  .edit-wrapper > ul > li:hover > input {
    background-color: #F3F3F3;
  }

  .edit-wrapper > ul > li > input {
    font-family: Helvetica, sans-serif;
    /*padding: .8rem;*/
    font-size: .9rem;
    font-weight: lighter;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .8rem 1.3rem;
  }

  .edit-wrapper > ul > li input:focus{
    outline: none;
  }

  .edit-wrapper > ul > li > a{
    font-size: .9rem;
    font-weight: lighter;
  }

  .edit-header {
    border-bottom: 1px dotted lightgray;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    padding-bottom: .3rem;
    width: 70%;
  }

  .delete-icon {
    height: .8rem;
    cursor: pointer;
    padding: .5rem .9rem;
  }

  .sidebar-container {
    width: 23rem;
    height: auto;
    margin-top: 1rem;
  }

  .bookmarks-container {
    display: grid;
    grid-template-rows: 2.7rem auto;
    box-shadow: 0 0 10px #E2E2E2  ;
    border-radius: 5px;
  }

  .sidebar-header-wrapper {
    text-align: center;
    background-color: #fff;
    padding: 15px 0px;
    border-bottom: 1px dotted lightgray;
  }

  .sidebar-header {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #a6a6a6;
    letter-spacing: .05rem;
    font-weight: lighter;
  }

  .section-container {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  .section-wrapper{
    display: grid;
    grid-template-rows: auto;
    font-family: Helvetica, sans-serif;
    letter-spacing: .05rem;
  }

  .category-container {
    position: relative;
  }

  .category-wrapper:hover {
  }

  .category {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
    cursor: pointer;
    color: #6C7476;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 1rem;
  }

  .category:hover {
    background:#FA6B6B;
    color: #fff;
  }

  .leftSide {
    flex: 2;
    padding-left: .5rem;
  }

  .fa-chevron-down, .fa-chevron-right, .fa-chevron-up {
    color: #fff;
    margin-right: 15px;
    visibility: hidden;
    pointer-events: none;
  }

 .category:hover > .fa-chevron-down, .category:hover > .fa-chevron-up, .subject:hover > .fa-chevron-right {
    visibility: visible;
    color: #fff;
  }

  .fa-folder, .fa-folder-open {
    padding-left: 12px;
  }

  .dropdown-container {
    margin: 0 auto;
    width: auto;
    padding: 0;
  }

  .subject-container {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .subject-container > ul {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .subject-wrapper {
    position: relative;
    list-style: none;
    width: 100%;
    margin: 0;
    padding-left: 0;
    background-color: #fff;
  }

  .subject {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, sans-serif;
    height: 3.3rem;
    letter-spacing: .05rem;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  .subject .fa-folder-open, .subject .fa-folder {
    margin-left: 1rem;
    color: #4E5456;
  }

  .subject:hover {
    background-color: #92ECCA;
    color: #fff;
  }

  .subject:hover > .fa-chevron-right {
    visibility: visible;
    color: #fff;
  }

  .subject:hover >.fa-folder {
    color: #fff
  }

  .titles-container {
    height: 500px;
    width: 550px;
    margin-left: 50px;
    margin-top: 15px;
  }

  .titles-sub-container {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    max-height: 25rem;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: visible;
  }

  .title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 2.5rem;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    font-size: 0.8rem;
    border-bottom: 1px dotted lightgray;
  }

  .fa-trash-alt {
    color: black;
    opacity: 0;
    padding: .6rem;
  }

  .title-wrapper:hover > .fa-trash-alt {
    opacity: 1;
    transition: opacity .3s ease-in;
  }

  .title {
    /*display: block;*/
   /* white-space: nowrap;
    height: inherit;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;*/
    font-weight: lighter;
    padding: 1rem;
  }

  .title:hover {
    font-size: .9rem;
    overflow: visible;
  }

  .title:hover > .iconsMenu {
    visibility: visible;
  }

/*  .add {
    padding-right: .8rem;
    font-size: 1.5rem;
    color: gray;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    visibility: hidden;
  }*/

  .confirm-container {
  }

  .confirm-sub-container {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    height: 9rem;
    width: 19rem;
    top: 7rem;
    left: 35rem;
    background-color: #fff;
    border-radius: 5px;
  }

  .confirm-header {
    border-bottom: 1px dotted lightgray;
  }

  .confirm-header-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: gray;
    font-weight: lighter;
    padding: .8rem .8rem .5rem .8rem;
  }

  .confirm-text-wrapper {
    margin: 0;
    line-height: 1rem;
    padding: 1.4rem 1.4rem 0rem 1.4rem;
  }

  .confirm-text {
    font-family: Roboto, sans-serif;
    color: gray;
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: lighter;
  }

  .confirm-buttons-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex:1;
  }

  .confirm-button {
    border: none;
    font-size: 16px;
    width: 3.6rem;
    cursor: pointer;
    height: 2.2rem;
    margin: .3rem;
  }

  .confirm-button:hover {
    background-color: #D4D6C6;
  }
















